body {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: #212121;
  height: 80px;
  width: 100vw;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  justify-content: space-between;
  z-index: 9999;
  position: absolute;

}
.title {
  color: white;
}
.headbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.headers {
  padding-left: 10px;
  padding-right: 10px;
}
.menuico {
  filter: invert(100%);
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%
}
.menuico:hover {
  background-color: #c3c3c3;
  transition: 0.5s;
}

.mediico {
  filter: invert(100%);
  width: 35px;
  height: 35px;
  vertical-align: middle;
  border-radius: 50%;
}
.mediico:hover {
  background-color: #c3c3c3;
  transition: 0.5s;
}

h1 {
  font-size: 35px;
}
.card {
  background-color: #FFA000;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border: 0px solid #000000;
  margin-top: 20vh;
  color: black;
}
.cardtext {
  margin: 10px;
  font-size: 1.1em;
}
.saldo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.snabbsaldo {
  margin: 10px;
  font-size: 25px;
}
.midbox {
  display: flex;
  flex-direction: row;
}
.menubox {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  z-index: 1;
  margin-right: 20vw;
}
.rightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menumainbox {
  display: flex;
  flex-direction: column;
}
.impbox {
  margin-top: 80px;
  -webkit-box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
  box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
}
.regbox {
  -webkit-box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
  box-shadow: 0px 20px 0px -17px rgba(0,0,0,0.25);
  margin-top: 3px;
}
.circimg {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.minbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-size: 1em;
}
.minbox:hover {
  background-color: #c3c3c3;
  transition: 0.5s;
}
.img {
  filter: invert(100%);
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}
.imgre{
  width: 35px;
  height: 35px;
}
.acc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  -webkit-box-shadow: 0px -8px 0px -6px rgba(107,107,107,0.8);
  -moz-box-shadow: 0px -8px 0px -6px rgba(107,107,107,0.8);
  box-shadow: 0px -8px 0px -6px rgba(107,107,107,0.8);

}
.text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kontoinfo {
  padding: 0;
  line-height: 10px;
  margin-right: 70px;
}
.konton {
  padding-left: 25px;
}
.masking {
  color: #FFA000;
}
